body {
    background-color: #eeeeee;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#message {
    box-shadow: 9px 9px 9px #dddddd, -9px -9px 9px #ffffff;
    border-radius: 15px;
    padding: 50px;
    color: #333333;
}
